.herobannerbackground {
    background-image: url("UndocumentedProject.jpg");
    height: 400px;
    background-size: contain;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    color:#020002;
    text-transform: capitalize;
}

.sideBarBox {
    background-color: #cdd0cd;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 400px auto;
    font-family: sans-serif;
}

.herobanner {
    grid-column: 1 / 3;
    grid-row: 1;
}

#sideBar {
    grid-row: 2;
    grid-column: 1;
}


.MentalHealthTitle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 35px;
    position: relative;
}

.GraffitiTrash {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 35px;
    position: relative;
}

li a {
    margin-right: 8px;
}

.mainContent {
    background-color: rgb(223, 220, 220);
}