.herobannerbackground {
    background-image: url("UndocumentedProject.jpg");
    height: 400px;
    background-size: contain;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    color: blue;
    text-transform: capitalize;
}

#sideBar {
    max-width: fit-content;
    float: left;
    border: 5px solid black;
}

#rightSideBar {
    max-width: fit-content;
    float: right;
    border: 5px solid black;
}

.mainContent {
    float: left;
    padding: 5px;
}